 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
	
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#FEFEFE;
}
.container{
	margin:0;
	padding:0;
	background-color:#E6E6FA; 
	}
#head_wrap{
	width:100%;
	height:35px;
	padding:10px;
	margin:0px auto;
	border-bottom:2px solid #C76D1F;
	background:#1E90FF;
}
#header{
 margin:0 auto;
 width:1000px;
 height:35px;
}	
#menu{
	line-height:35px;
	padding:0;
	margin-left:10%;
	border:.5 px solid black;
	float:left;
}
#menu li{
	display:inline;
	list-style:none;
	
}
#menu a {
	margin:5px;
	padding:5px;
	text-decoration:none;
	color:black;
	font-size:20px;
	font-weight:bold;
}
#menu a:hover{
	font-weight:bolder;
	text-decoration:underline;
}
#menu strong{
	font-size:23px;
	}
#form1{
	float:right;
	line-height:35px;
	padding-top:1px;
	}
	
.contant{
	width:1000px;
	margin:0 auto;
}
#u_timeline{
	background:#1E90FF;
	width:250px;
	float:left;
	height:600px;
	
	}
	#u_details{
		padding:10px;
		}
		#u_details > center > img{
			
			border-radius:10px;
			}
			#u_details > #u_mention >p ,a{
				color:black;
				text-decoration:none;
				margin-bottom:10px;
				padding:5px;}
				#u_details > #u_mention{
					
				margin-top:10px;
					background:transparent;			
			border-radius:10px;
			width:200px;
			margin:0 auto;
			padding:5px;
					}
					#u_mention a:hover{
	font-weight:bolder;
	text-decoration:underline;
}
#content_timeline{
	float:right;
	width:700px;
	padding:10px;
	}
	#f input{
		padding:10px;
		border:1px solid black;
		border-radius:5px;
		font-weight:bolder;
		}
	#f textarea{
		padding:11px;
		border:1px solid black;
		border-radius:5px;
		font-weight:bolder;
		}
	#f select{
		padding:8px;
		border:1px solid black;
		border-radius:5px;
		font-weight:bolder;
		}
	#f input:hover{
		background:#E4E4E4;
		}	
	#f select:hover{
		background:#E4E4E4;
		}	
	#f textarea:hover{
		background:#E4E4E4;
		}		
	#f{
		font-family: "Times New Roman";}
	
	#pagination{
		margin-top:20px;
		}
	#pagination a{
		color:blue;
		text-decoration:none;
		font-size:16px;
		margin:10px;
		}
	#pagination a:hover{
		
		font-weight:bold;
		text-decoration:underline;
		}		
		
	#posts{
		width:600px;
		background:#1E90FF;
		padding:15px;
		line-height:20px;
		border:1px solid black;
		text-align:justify; 
		}		
	#posts img{
		float:left;
		padding-top:3px;
		padding-right:10px;
		}	
	#posts button:hover{
		text-decoration:underline;
		font-weight:bold;
		}
	#reply textarea{
		padding:11px;
		border:1px solid black;
		border-radius:5px;
		font-weight:bolder;
		}	
	#reply textarea:hover{
		background:#E4E4E4;
		}		
	#reply input{
		padding:11px;
		border:1px solid black;
		border-radius:5px;
		font-weight:bolder;
		}
	#comments{
		background:red;
		padding:5px;
		width:600px;
		border-bottom:1px solid black;
		}
	#comments span{
		color:orange;
		}
	#comments{
		line-height:20px;
		font-size:16px;
		padding:5px;
		 }	 
		 
	#user_profile{
		padding:10px;
		margin-left:50px;
		background:#1E90FF;
		height:277px;
		border:1px solid black;
		border-radius:10px;
		}
	#user_profile img{
		float:right;
		margin:5px;
		border-radius:5px}
	#user_profile p{
		margin:5px;
		}
	#user_profile button{
		margin-top:10px;
		}
	#user_profile button:hover{
		background-color:transparent;}	
	#user_profile h2{
		color:black;
		}		
		
	#edit{
		padding:10px;
		margin-left:50px;
		background:#1E90FF;
		height:300px;
		border:1px solid black;
		border-radius:10px;}				 				
	.footer{
	
				width:100%;
				padding-top:2px;
				height:20px;
				background:#1E90FF;
				color:#C76D1F;
				clear:both;
				text-align:center;
				font-weight:bold;
				border-top:2px solid brown;
				}
	